{{classLabel}}
<br/>
<ul id="classList" class="unstyled">
{{#each classList}}}
<li class="classItem" data-class-label="{{key}}">
<span style="text-align:right;
{{#if color}}
color: {{color}};
{{/if}}
">
{{key}}</span>
<span 
{{#if color}}
style="padding-right:{{value}}px;background: linear-gradient(to bottom right, #ffffff, {{color}});"
{{/if}}
>
{{value}}
</span>
</li>
{{/each}}
</ul>