<li class="split_item">
       <i class="icon-resize-vertical icon-2x pull-left"></i> <div>{{splitItem.x.label}}: {{splitItem.x.low}} - {{splitItem.x.high}}<br/>{{splitItem.y.label}}: {{splitItem.y.low}} - {{splitItem.y.high}}</div>
</li>