<li class="split_item">
       <i class="icon-resize-vertical icon-large pull-left"></i> 
       <div>
       {{#with splitItem}}
       {{#if x}}
          {{x.label}}: {{x.low}} - {{x.high}}
          <br/>
       {{/if}}
       {{#if y}}
          {{y.label}}: {{y.low}} - {{y.high}}
        {{/if}}
        {{/with}}
      </div>
</li>