<li class="split_item">
       <i class="icon-resize-vertical icon-large pull-left"></i> 
       <div>
       {{#each_with_key splitItem key="feature"}}
          {{#if low}}
            {{#feature_id_format feature cols="2,3" delimiter=":" }}
              {{this}}
            {{/feature_id_format}}
            : {{low}} - {{high}}
          {{else}}
            {{#feature_id_format feature cols="2,3" delimiter=":" }}
              {{this}}
            {{/feature_id_format}}
            : 
            {{#each values}}
              {{this}}
            {{/each}}
          {{/if}}
          <br/>
         {{/each_with_key}}
      </div>
</li>
