<li class="split_item">
       <i class="icon-resize-vertical icon-large pull-left"></i> 
       <div>
       {{#each_with_key splitItem key="axis"}}
          {{#if low}}
            {{key}}: {{low}} - {{high}}
          {{else}}
          {{key}}:
            {{#each values}}
              {{this}}
            {{/each}}
          {{/if}}
            <br/>
         {{/each_with_key}}
      </div>
</li>
