<li class="split_item">
       <i class="icon-resize-vertical icon-large pull-left"></i> 
       <div>
       {{#with splitItem}}
         {{#if x}}
          {{#with x}}
          {{#if low}}
            {{label}}: {{low}} - {{high}}
          {{else}}
          {{label}}:
            {{#each values}}
              {{this}}
            {{/each}}
          {{/if}}
          {{/with}}
            <br/>
         {{/if}}
         {{#if y}}
          {{#with y}}
          {{#if low}}
            {{label}}: {{low}} - {{high}}
          {{else}}
          {{label}}:
            {{#each values}}
              {{this}}
            {{/each}}
          {{/if}}
          {{/with}}
          {{/if}}
        {{/with}}
      </div>
</li>